
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Estilos*/
body{
	font-family: 'Roboto', sans-serif;
}
/*NAV*/
#first-section .navbar{
	padding: 0 50px;
	background-color: #333333;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
}

/* add padding  */
.right-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.nav-drib li{
	margin: 0 5px;
}
.nav img{
	width: 100px;
	padding: 12px 0;
	margin-right: 20px;
}

#second-section{
	margin-top: 50px;
	text-align: right;
	padding: 10px 60px;
	background-color: #fbfbfb;
	border-bottom: 0.5px solid rgba(175,175,175,0.5215686274509804);
}

#second-section ul li{
	display: inline-block;
	margin: 0 10px;
}
.input-search{
	margin-top: 10px;
	width: 250px;
	color: #bbbbbb;
}

/*SECCION 2*/
.uno .btn-default{
	border: none;
}
.dropdown-menu li a{
	width: 100px;
	color: #333333;
}
.uno a span{
	position: absolute;
    right: 20px;
    color: #bbbbbb;
}
#valor, #personas{
	font-size: 15px;
	color: black;
}
#valor span, #personas span{
	color: #bbbbbb;
	padding-left: 5px;
}
.fa-chevron-down{
	color: #bbbbbb;
}
.dos .btn-default{
	padding-right: 20px;
}
.dos .fa{
	position: absolute;
}
.fa-caret-down{
	padding: 8px 5px;
}
.fa-caret-up{
	padding: 0 5px;
}